.dropdown {
	font-size: 16px;
}

.dropdown-title {
	width: 80px;
	font-size: 16px;
	font-weight: 700;
}

.dropdown-title:hover,
.filter-option:hover {
	cursor: pointer;
}

.down-carot {
	font-size: 10px;
}

.filter-option {
	margin: 5px;
	text-transform: capitalize;
}

.filter-option-type {
	margin: 5px;
	text-decoration: underline;
	text-transform: capitalize;
}
