body {
	margin: 0;
	font-family: gilroy,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serifbody
sans-serif;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}