.quote-card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.quote-sort-filter {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1000px;
}

.reset {
  color: #4b88e6;
  font-style: italic;
  font-size: 12px;
}

.reset:hover {
  cursor: pointer;
}
