.quote-card {
	display: flex;
  justify-content: space-around;
  width: 80%;
  max-width: 1000px;
	font-size: 15px;
	margin-top: 20px;
	padding: 20px;
	border-radius: 5px;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,.15);
	background-color: white;
}
