.search-panel {
  background-color: #f6f9fd;
  padding: 50px 100px;
  border-bottom: 1px solid #e8dac7;
}

.search-panel form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-panel input {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: inherit;
  text-align: center;
  padding-top: 8px;
  margin: 10px;
}

.search-panel input:focus,
.search-panel button:focus {
  outline: none;
}

.search-panel input::placeholder {
  color: #b9c9df;
}

.search-panel .dollar {
  padding-top: 8px;
  font-size: 18px;
  color: #cdd1e3;
}

.search-panel button {
  border-radius: 15px;
  width: 120px;
  display: flex;
  align-items: center;
  padding: 7px 18px;
  border: none;
  color: #007bff;
  background-color: #dce8f9;
}

.search-panel button:hover {
  cursor: pointer;
}

.message {
  color: #cc3f3f;
  font-style: italic;
  font-size: 16px;
}
